<!DOCTYPE html>
<html>
<head>
	<title>Index</title>
	<meta http-equiv="refresh" content="60">
	<script src="https://app.embed.im/snow.js" defer></script>
    <style>
        * {
            margin: 0;
            padding: 0;
        }
        .imgbox {
            display: grid;
            height: 100%;
        }
        .center-fit {
            max-width: 100%;
            max-height: 100vh;
            margin: auto;
        }
		body {
			background: url("{{ user_image }}") no-repeat center center fixed;
        background-size: cover;
		}
    </style>
</head>
<!--body-->
<body style="background-color:black;">
<!--div class="imgbox">
    <img class="center-fit" src="{{ user_image }}" alt="Image">
</div-->
</body>
</html>





